/*Google Font*/
body{
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	/*padding-top: 0.8rem;
	padding-right: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;*/
	/*shorthand property*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	/*margin-top: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;*/
	margin: 0.5rem;
	/*changes elements to inline elements*/
	display: inline;
}

/*margin vs padding*/
/*margin is best used when creating space between elements*/
/*padding is best used when creating space between and element's border and it's content*/

/*intro section*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	/*short hand*/
	/*padding 2rem 10% 3rem*/
}

.header{
	text-align: center;
	/*best used when horizontally aligning text instead of using our margins and paddings*/
}

#intro h2, #intro p{
	/*this creates space between the contents of the intro section*/
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*changes the thickness of our text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*creates space between the button text and the border*/
	padding: 1rem;
}

/*success info section*/
/*exact same properties as the intro section but can have it's own CSS rules for flexibility*/
#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
	/*this creates a space between the header and the card section*/
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*footer*/
footer{
	padding: 0.7rem;
	/*create space between span tags and */
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Add a CSS rule for the pre-footer section to create space for the content, change the background and text color.*/
#pre-footer{
	background-color: #002540;
	color: white;
	padding: 1rem;
}

/*Add a CSS rule for the div tags to align the elements horizontally.*/
#pre-footer .col-4{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 20%;
}

/*Add a CSS rule for the all elements inside the div tags to create space between them vertically.*/
#pre-footer .col-4 h3{
	margin: 0.5rem 0;
}

/*Add a CSS rule for the all elements inside the div tags to create space between them vertically.*/
#pre-footer .col-4 p{
	margin: 0.5rem 0;
}

